@font-face {
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext");
}

@font-face {
  font-family: "Bungee Inline";
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Bungee+Inline");
}
