<br>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- <form (ngSubmit)="onSignup(f)" #f="ngForm"> -->
      <form [formGroup]="signupForm">
        <div class="form-group">
          <label for="nick">Nick:</label>
          <input type="text" class="form-control" id="nick" formControlName="nick" ngModel>
          <!-- message for empty nick -->
          <p class="help-block" *ngIf="!signupForm.get('nick').valid && signupForm.get('nick').touched">
            This field is required.
          </p>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="email" ngModel>
          <p class="help-block" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
            <!-- message for empty email -->
            <span *ngIf="signupForm.get('email').errors['required']">
              This field is required.
            </span>

            <!-- message for invalid email -->
            <span *ngIf="signupForm.get('email').errors['email'] && signupForm.get('email').value">
              Must use a valid email.
            </span>
          </p>
        </div>
        <div formGroupName="passFields">
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" formControlName="password" ngModel>
            <p class="help-block" *ngIf="!signupForm.get('passFields.password').valid && signupForm.get('passFields.password').touched">
              <!-- message for empty password -->
              <span *ngIf="signupForm.get('passFields.password').errors['required']">
                This field is required.
              </span>

              <!-- message for too short password -->
              <span *ngIf="signupForm.get('passFields.password').errors['passwordLength']">
                Password must be at least 6 characters.
              </span>
            </p>
          </div>
          <div class="form-group">
            <label for="conf_password">Confirm Password:</label>
            <input type="password" class="form-control" id="conf_password" formControlName="conf_password" ngModel>
            <p class="help-block" *ngIf="signupForm.get('passFields.conf_password').touched && signupForm.get('passFields').errors !== null">
              <!-- message for empty password -->
              <span *ngIf="!signupForm.get('passFields.conf_password').valid && signupForm.get('passFields.conf_password').errors['required']">
                This field is required.
              </span>

              <!-- message for mismatch passwords -->
              <span *ngIf="signupForm.get('passFields.conf_password').value && signupForm.get('passFields').errors['passwordMismatch']">
                Passwords must match.
              </span>
            </p>
          </div>
        </div>
        <button (click)="onSubmit()" type="submit" class="btn btn-success" >
          Sign Up
        </button>
      </form>
    </div>
</div>
