@import '~styles/abstracts/variables';

// invalid passwords fileds styles
#sz-pass-fields.ng-invalid.ng-touched {
  input {
    background-color: $form-invalid-background-color;
    &:focus {
      border-color: $form-invalid-background-color * 1.5;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
