@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

// logo styles
.sz-home-cont {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $sz-home-cont-z-index;
  padding: 0;
  margin: 0;
  background: url('../../../assets/images/chess_main_bg.jpeg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.logo-cont {
  position: relative;
  height: 100px;
  margin: 35px 0px 20px 0px;
  .sz-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
    @media all and (min-width: $SM_RES) {
      font-size: 40px;
      width: 295px;
      height: 80px;
      svg {
        width: 100px;
        height: 80px;
      }
    }
  }
  &:after {
    clear: both;
  }
}

.register-sec {
  margin-top: 30px;
  .sz-signup-btn {
    display: block;
    width: 250px;
    height: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    color: $main-text-grey-color;
    background-image: repeating-linear-gradient(
      -45deg,
      #0B7912, #0B7912 2px,
      $darkCyan 2px, $darkCyan 10px
    );
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin: 0 auto;
    transition: 0.3s;
    border: 1px solid #0B7912;
    &:hover {
      text-decoration: none;
    }
  }
  @media all and (min-width: $SM_RES) {
    margin-top: 70px;
    .sz-signup-btn {
      width: 300px;
      height: 50px;
      font-size: 1.5rem;
      line-height: 50px;
      animation-name: pulse;
      animation-duration: 4000ms;
      animation-delay: 500ms;
      animation-timing-function: ease-in-out;
      animation-play-state: running;
      animation-iteration-count: infinite;

      &:hover {
        animation-play-state: paused;
        border: 1px solid $khaki;
        color: $khaki;
      }
    }
  }

  .main-slogan {
    font-size: 1.2rem;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    color: $main-text-grey-color;
    // color: $khaki;
    @media all and (min-width: $SM_RES) {
      font-size: 1.7rem;
      max-width: 600px;
    }
  }
}

@keyframes pulse {
  0%, 45%, 55%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05) rotateZ(1deg);
  }
}
