@import '~styles/abstracts/variables';

.sz-sidebar-content {
  font-family: "Bungee Inline", cursive;
  padding: 0px 15px;
  @media all and (min-width: 768px) {
    padding: 0px 25px;
  }

  // logo styles
  .logo-cont {
    position: relative;
    height: 85px;
    margin: 0px;
    .sz-logo {
      width: 45px;
      font-size: 26px;
      margin-left: 35px;
      @media all and (min-width: 768px) {
        width: 190px;
        margin-left: 0px;
      }
      svg {
        width: 45px;
        height: 45px;
      }
      span {
        display: none;
        @media all and (min-width: 768px) {
          display: inline;
        }
      }
    }
    &:after {
      content: '';
      clear: both;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $lightgrey;
      opacity: 0.2;
    }
  }

  .sz-avatar-cont {
    margin-top: 30px;
    span {
      display: none;
      padding-left: 10px;
      @media all and (min-width: 768px) {
        display: inline-block;
      }
    }
    img {
      display: block;
      margin: 0 auto;
      @media all and (min-width: 768px) {
        display: inline-block;
      }
    }
  }

  .sz-nav-cont {
    margin-top: 20px;
    .nav {
      .nav-link {
        font-size: 1rem;
        padding-left: 0px;
        @media all and (min-width: 768px) {
          font-size: 1.2rem;
        }
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
