@import '~styles/abstracts/variables';

.sz-sidebar-content {
  font-family: "Bungee Inline", cursive;
  margin: 0px 25px;

  // logo styles
  .logo-cont {
    position: relative;
    height: 85px;
    margin: 0px;
    .sz-logo {
      width: 190px;
      font-size: 26px;
      margin-left: 0px;
      svg {
        width: 45px;
        height: 45px;
      }
    }
    &:after {
      content: '';
      clear: both;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $lightgrey;
      opacity: 0.2;
    }
  }

  .sz-avatar-cont {
    margin-top: 30px;
    span {
      display: inline-block;
      padding-left: 10px;
    }
  }

  .sz-nav-cont {
    margin-top: 20px;
    .nav {
      .nav-link {
        font-size: 1.2rem;
        padding-left: 0px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
