// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------

// Z-index variables
$alerts-z-index: 9999;
$sz-menu-content-z-index: 9998;
$sz-menu-cont-z-index: 9997;
$sz-menu-grey-bg-z-index: 9996;
$sz-sidebar-cont-z-index: 9995;
$sz-sidebar-arr-z-index: 9994;

$sz-home-cont-z-index: -1;

// Main colors
$darkCyan: #1a9081; // logo color
$khaki: #e0d890; // logo text color

// Text colors
$lightgrey: #b0b0b0 !default;
// $main-background-color: #141422 !default;
$main-background-color: #141823 !default;
$main-text-grey-color: #d0d0d2 !default;

// Forms colors
$form-main-background-color: #191923;
$form-invalid-background-color: #522025;
$form-invalid-text-color: #f04a43;
$form-main-border-color: #272b37;

// Sidebar veraibles
$sidebar-main-bg-color: #262633;
$sidebar-cont-width: 250px;
