.sz-logo {
  font-family: 'Bungee Inline', cursive;
  font-size: 28px;
  color: $khaki;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 50px;
  margin: 10px;
  span {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }
  svg {
    width:50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    path {
      fill: $darkCyan;
    }
  }
}
