@import '~styles/abstracts/variables';

.sz-menu-cont {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: $sz-menu-cont-z-index;
  width: 200px;
  height: 200px;
  border-radius: 300000px;
  background-color: $darkCyan;
  transform: translate(-50%, -50%);
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  &.sz-menu-active {
    @media all and (orientation: landscape) {
      width: 100vw * 3;
      height: 100vw * 3;
    }
    @media all and (orientation: portrait) {
      width: 100vh * 3;
      height: 100vh * 3;
    }
  }
}

.sz-hamburger {
  position: absolute;
  top: 22px;
  left: 19px;
  padding: 17px 5px;
  z-index: $sz-hamburger-z-index;
  &:hover {
    cursor: pointer;
  }
}
