// @import url('https://fonts.googleapis.com/css?family=Itim');
// @import url('https://fonts.googleapis.com/css?family=Alef:400,700');

body {
  // font-family: 'Bungee Inline', cursive;
  // font-family: 'Itim', cursive;
  font-family: 'Alef', sans-serif;
  background-color: $main-background-color;
  color: $main-text-grey-color;
}

// webkit autofill
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: $form-main-background-color !important;
    background-image: none;
    color: $main-text-grey-color !important;
}
