<br>
<br>
<div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-6 sz-form-wrap">
      <form [formGroup]="signinForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" ngModel>
          <p class="help-block" *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched">
            <!-- message for empty email -->
            <span *ngIf="signinForm.get('email').errors['required']">
              This field is required.
            </span>

            <!-- message for invalid email -->
            <span *ngIf="signinForm.get('email').errors['email'] && signinForm.get('email').value">
              Must use a valid email.
            </span>
          </p>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" formControlName="password" ngModel>
          <p class="help-block" *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched">
            This field is required.
          </p>
        </div>
        <button (click)="onSubmit()" type="submit" class="btn btn-outline-success btn-block mt-5">
          Sign In
        </button>
      </form>
    </div>
</div>
