<div>
  <h3 md-dialog-title class="cropper-heading">
    {{ data.headline }}
  </h3>
  <hr>
  <div mat-dialog-content>
    <div class="cropper-cnt">
      <img-cropper #cropper [image]="cropperData" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
    </div>
  </div>
  <hr>
  <div mat-dialog-actions class="cropper-btns">
    <button id="confirm" mat-raised-button color="accent" (click)="onCloseConfirm()">CONFIRM</button>
    <button id="cancel" mat-raised-button color="primary" (click)="onCloseCancel()">CANCEL</button>
  </div>
</div>
