.sz-account-settings {
  .sz-h {
    text-align: center;
  }
}

.img-upload {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  position: relative;
  &::after {
    text-align: center;
    padding-top: 45%;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0;
  }
  &:hover {
    &::after {
      cursor: pointer;
      content: 'Upload a new photo';
      animation: showEdit 0.4s;
      animation-fill-mode: forwards;
    }
  }
}

#img-label {
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
}

#file-input {
  display: none;
}

@keyframes showEdit {
  from { opacity: 0; }
  to { opacity: 0.5; }
}
